.hvr-css-before:hover:before{
    content: '';
    position: absolute;
    transition: all ease 0.3s;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10%;
    background-color: rgb(230, 230, 230);
}

.hvr-css-before::before{
    content: '';
    position: absolute;
    transition: all ease 0.3s;
    width: 0%;
    height: 0;
    left: 50%;
    bottom: -10px;
}

.if-css-active::before{
    content: '';
    position: absolute;
    transition: all ease 0.3s;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10%;
    background-color: rgb(230, 230, 230);
    font-size: 9px;
}